.wrapper {
  background: var(--gray-900);
  padding: 4rem 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    header {
      border-bottom: 2px dashed var(--gray-300);
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;

      h2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 2rem;
        color: var(--gray-300);
        padding-bottom: 0.5rem;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      @media only screen and (max-width: 600px) {
        padding: 1.5rem;
      }

      p {
        line-height: 2rem;

        @media only screen and (max-width: 600px) {
          font-size: 1.2rem;
        }
      }

      .skills_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        @media only screen and (max-width: 600px) {
          flex-wrap: wrap;
        }

        .skill_item {
          width: 12rem;
          min-height: 12rem;
          margin-bottom: 2rem;
          padding: 1rem;
          border: 1px solid var(--gray-700);
          border-radius: 1rem;

          @media only screen and (max-width: 600px) {
            width: 48%;
          }

          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;

          img {
            flex: 1;
            max-height: 5rem;

            cursor: pointer;

            transition: filter 0.3s;

            &:hover {
              filter: brightness(0.5);
            }
          }

          .whiteLogo {
            filter: invert(100%);

            transition: filter 0.3s;

            &:hover {
              filter: invert(70%);
            }
          }

          h3 {
            margin-top: 1rem;
            color: var(--gray-300);
          }
        }
      }
    }
  }
}
